<p>
    Hi {{ user.username }},
    An initilization query was send to your SnowTricks account. 
    To initialize your password, you must click on the above link : <br>
    Pour réinitilisation votre mot de passe, veuillez cliquer sur le lien ci-dessous :<br>
    <a href="{{ url('account_password_reset', {username : user.username , token: user.token}) }}">Réinitialiser mon mot de passe<a><br>
    <br>
    Merci !
</p>