{% extends "base.html.twig" %}

{% block body %}
<body id="page-top">
  <!-- Masthead -->
  <header class="masthead" id="createUser">
    <div class="container h-100 left-align">
      <div class="row h-100 align-items-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase font-weight-bold">My account</h1>
        </div>
        <div class="col-lg-8 align-self-baseline" style="margin-top:20px">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ path('app_homepage') }}">HOME</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Tricks Section -->
  <section class="page-section" id="trick">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-5 mb-5">
            <div class="row  justify-content-md-center">
                <div class="col-8">
                    <h3 class="bg-orange">{{ user.pseudo|capitalize }}</h3>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
{% endblock %}