{% extends "base.html.twig" %}

{% block body %}
<body id="page-top">
  <!-- Masthead -->
  <header class="masthead" id="createTricks">
    <div class="container h-100 left-align">
      <div class="row h-100">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase font-weight-bold">Create tricks</h1>
        </div>
        <div class="col-lg-8 align-self-baseline">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/projet6/public/home#tricks">ALL TRICKS</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Tricks Section -->
  <section class="page-section" id="trick">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-5 mb-5">
            <div class="row  justify-content-md-center">
                <div class="col-10 ">
                    {{ include('alerts.html.twig') }}
                    <div id="statusTricksCreation"></div>
                    <form>
                        <div class="row mt-3">
                            <div class="col-6">
                                <label for="nameTricks">Name</label>
                                <input class="form-control" id='nameTricks' name="nameTricks" placeholder="Name" required/>
                                <small id="nameTricksMessage" class='text-danger'></small>
                            </div>
                            <div class="col-6">
                                <label for="groupTricks">Groups</label>
                                <select class="form-control" id='groupTricks' name='groupTricks'>
                                    {% for group in groups %}
                                        <option value='{{ group.groupId }}'>{{ group.groupName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>      
                        <div class="row mt-3">
                            <div class="col-12">
                                <label for="descriptionTricks">Description</label>
                                <textarea class="form-control" id="descriptionTricks" name="descriptionTricks" required></textarea>
                                <small id="descriptionTricksMessage" class='text-danger'></small>
                            </div>            
                        </div>            
                        <div class="row mt-3">
                            <div class="col-6 text-left">
                                <label>Manage files</label>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-primary addPicture"><i class='fas fa-images'></i></button>
                                <button type="button" class="btn btn-primary addVideo"><i class="fas fa-video"></i></button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <table {#id="dataTableFiles" #}class="table " cellspacing="0" width="100%">
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Link</th>
                                        <th>Type</th>
{#                                        <th>Action</th>#}
                                      </tr>
                                    </thead>
                                    <tbody id="contentTabFile"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 text-left">
                                <button type="button" class="btn btn-primary createTricks">CREATE</button>
                            </div>
                        </div>     
                    </form>
                    {#Modal#}          
                    <div id="modalAddFile" class="modal" tabindex="-1" role="dialog" type="">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">ADD FILES</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body videoPart" >
                                    <div class="col-12">
                                        <label for="videoName">Video name</label>
                                        <input class="form-control" name="videoName" id="videoName" placeholder="Video name" required/>
                                        <small id="videoNameMessage" class='text-danger'></small>
                                        <label for="videoLink">Video integration link</label>
                                        <input class="form-control" name="videoLink" id="videoLink" placeholder="Video link" required/>
                                        <small id="videoLinkMessage" class='text-danger'></small>
                                    </div>
                                </div>
                                <div class="modal-body imagePart">
                                    <label for="update_file_tricks_dropzone">Chose your file</label>
                                    <input id="fileId" name="fileId" type="hidden" value=""/>
                                    <form id="addFileTricksDropzoneForm" action="{{path('uploadFile')}}" class="dropzone" method="post" enctype="multipart/form-data">
                                        <div class="fallback">
                                            <input id="add_file_tricks_dropzone" name="add_file_tricks_dropzone" type="file"/>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary addFileInTab">ADD</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>

</body>
{% endblock %}