{% extends "base.html.twig" %}

{% block body %}
<body id="page-top">
  <!-- Masthead -->
  <header class="masthead" id="home">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase font-weight-bold">Login</h1>
        </div>
        <div class="col-lg-8 align-self-baseline">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#whoIAm">ALL TRICKS</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Tricks Section -->
  <section class="page-section" id="trick">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-5 mb-5">
            <div class="row  justify-content-md-center">
                <div class="col-8 ">test {{ form(form) }}</div>
                <div class="col-8 ">
                    <form>
                        <div class="form-group">
                          <label for="loginPseudo">Pseudo</label>
                          <input type="text" class="form-control" id="loginPseudo" aria-describedby="emailHelp" placeholder="Enter pseudo">
                        </div>
                        <div class="form-group">
                          <label for="loginPassword">Password</label>
                          <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <small>If you haven't any account, you can create one <a href="/projet6/public/create/user">here</a></small>
                        </div>
                        <button type="submit" class="btn btn-primary">REGISTER</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
{% endblock %}